body {
        *{margin:0; padding:0;}
        a {
            text-decoration: none;
            color: purple;
            font-weight: bold;
            display: block;
        }
        li{list-style: none;}
        div{
            border: 1px solid lightgray;
            margin: 5px; padding: 5px;
            text-align: center;
        }
        #container{
            width:800px; margin: 0 auto;
        }
        #header{
        height: 100px; line-height: 100px;
        background-color: yellow;
        }
        #nav p{ height: 40px; line-height: 40px;}
        #nav ul {
            width: 700px; margin: 0 auto;
            overflow: hidden;
        } 
        #nav ul li{
            float: left;
            line-height: 50px;
            background-color: pink;
            margin: 2px;
            width: 136px;
        }
        #nav ul li:first-child{
        border-radius: 20px 0 0 20px;
        }
        #nav ul li:last-child{
        border-radius: 0 20px 20px 0;
        }
        #section{
            overflow: hidden;
        }
        #section #content{
            float: left;
            width: 578px; 
            height: 200px;
        }
        #section #banner{
        float: left;
        width: 154px;
        height: 200px;  
        }
        #footer{
            height:100px; line-height: 100px;
            background-color: yellow;
        }
        #container{
        position:relative;
        }
        #background_image{
        background:url('ch05/sulhyun.jpg') no-repeat;
    
        }